<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>SongSearch</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">

    

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <!-- Custom styles for this template -->
    <link href="css/songs.css" rel="stylesheet">
    
  </head>
  <body>
    
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container">
      <a href="/" class="navbar-brand d-flex align-items-center">
        
        <strong>SongSearch</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Disliked Songs</h1>
        <p class="lead text-muted">Curate a list of the songs you just can't stand. The songs that make you want to crash your car when they come on the radio.</p>
        <p>
            <form method="get" action="/songs/search">
            <button tpye="submit" class="btn btn-primary my-2" >Search Songs</button>
            </form>
            <form method="get" action="/profile">
            <button type="submit" class="btn btn-secondary my-2">See Profile</button>
            </form>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% dislikes.forEach(d => {  %> 
            <div class="col">
                <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="<%= d.imageURL %> ">
                  <div class="card-body">
                    <p class="card-text"><%= d.title %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <!-- Form for deleting a song from list -->
                        <form method="POST" action="/songs/dislikes/<%= d.id %>/?_method=DELETE">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/songs/dislikes/<%= d.id %>">View</a>
                            <button type="submit" type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                        </form>
                    
                      </div>
                      <small class="text-muted"><a href="<%= d.lyrics %>" target="_blank">Lyrics</a> </small>
                    </div>
                  </div>
                </div>
              </div>
            <br>
        <% }) %> 
        
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    
  </div>
</footer>


    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>

      
  </body>
</html>