<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.101.0">
    <title>SongSearch</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/album/">

    

    

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">

   
    <!-- Custom styles for this template -->
    <link href="/css/songs.css" rel="stylesheet">
    
  </head>
  <body>
    


<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Favorite Songs</h1>
        <p class="lead text-muted">Showoff your taste to friends by curating a list of all your favorite songs!</p>
        <p>
            <form method="get" action="/songs/search">
            <button tpye="submit" class="btn btn-primary my-2" >Search Songs</button>
            </form>
        </p>
      </div>
    </div>
  </section>

  <div class="album">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% favorites.forEach(f => {  %>
          <% if  (f.userId == currentUser.id) { %>  
            <div class="col">
                <div class="card shadow-sm">
                <img class="bd-placeholder-img card-img-top" width="100%" height="300" src="<%= f.imageURL %> ">
                  <div class="card-body">
                    <p style="font-weight: 900;" class="card-text"><%= f.title %></p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <!-- Form for deleting a song from list -->
                        <form method="POST" action="/songs/favorites/<%= f.id %>/?_method=DELETE">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="/songs/favorites/<%= f.id %>">View</a>
                            <button type="submit" type="button" class="btn btn-sm btn-outline-secondary">Remove</button>
                        </form>
                    
                      </div>
                      <small class="text-muted"><a href="<%= f.lyrics %>" target="_blank">Lyrics</a> </small>
                    </div>
                  </div>
                </div>
              </div>
            <br>
        <% }}) %> 
        
      </div>
    </div>
  </div>

</main>

<footer class="text-muted py-5">
  <div class="container">
    <p class="float-end mb-1">
      <a href="#">Back to top</a>
    </p>
    
  </div>
</footer>




      
  </body>
</html>